.flexrow {
	margin-left: -15px;
	margin-right: -15px;
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.flexcol {
		position: relative;
		box-sizing: border-box;
	}
}
.text-center {
	text-align: center;
}
.banner {
	position: relative;
	z-index: 5;
	img {
		width: 100%;
		height: auto;
	}
}
.fullwrap {
	width: 100%;
	float: left;
}
body.home .site-content.wrapper {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.locations-section {
	background:url("images/pig.png") bottom center no-repeat;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 200px;
	margin-top: -130px;
	.flexrow {
		@include tab {
			@include flexbox-justify(center);
		}
	}
}
.row-title {
	font-family: $font-heading;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.3;
	margin: 0 0 10px;
}
.location-info {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	text-align: center;
	@include tab {
		width: 20%;
	}
	.name {
		margin: 0 0 3px;
		font-family: $font_heading;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.2;
		color: $color-orange;
		text-transform: uppercase;
	}
	.address {
		font-size: 13px;
		line-height: 1.5;
	}
}